.my-message{
	position: fixed;
	top: -20px;
	left: 50%;
	width: 300px;
	height: 40px;
	line-height:40px;
	margin-left: -150px;
	background-color:#fff;
	box-shadow: 2px 2px 2px rgba(0,0,0,.15);
}
.my-message .message-icon{
	float: left;
	width: 40px;
	height: 40px;
	color:#fff;
	text-align:center;
}
.my-message .message-icon>span{display:none;}
.my-message .message-text{
	float: left;
	width: 260px;
	height: 40px;
	padding-left:10px;
}
.my-message.success .message-icon{
	background-color:#13ce66;
}
.my-message.warning .message-icon{
	background-color:#f7ba2a;
}
.my-message.error .message-icon{
	background-color:#ff4949;
}
.my-message.info .message-icon{
	background-color:#50bfff;
}
.my-message.success .message-icon >span.success,
.my-message.warning .message-icon >span.warning,
.my-message.error .message-icon >span.error,
.my-message.info .message-icon >span.info{
	display:inline;
}
