/*入口文件*/

/*公共变量，方法*/
@import "./_variables.scss";
@import "./_functions.scss";
@import "./_mixins.scss";

/*公共组件样式*/
@import "./components/_button.scss";
@import "components/_forms.scss";
@import "./components/_table.scss";
/*=================================================================
  css初始化
  =================================================================*/

body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size:14px;background:#f7f7f7;-webkit-text-size-adjust:100%;color: rgb(31, 43, 61);}
a{text-decoration:none; color: #333;}
a:hover{text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}

/*=================================================================
  padding margin
  =================================================================*/
@for $i from 0 through 60{
  @if $i % 10 == 0 {
    .paddingT#{$i}{padding-top: #{$i}px}
    .paddingL#{$i}{padding-left: #{$i}px}
    .paddingR#{$i}{padding-right: #{$i}px}
    .paddingB#{$i}{padding-bottom: #{$i}px}
    .marginT#{$i}{margin-top: #{$i}px}
    .marginL#{$i}{margin-left: #{$i}px}
    .marginR#{$i}{margin-right: #{$i}px}
    .marginB#{$i}{margin-bottom: #{$i}px}
    .padding#{$i}{padding: #{$i}px}
    .margin#{$i}{margin: #{$i}px}
  }
}

/*=================================================================
  color
  =================================================================*/
.color-primary{color:$color-primary};

.color-success{color:$color-success};
.color-warning{color:$color-warning};
.color-danger{color:$color-danger};
.color-info{color:$color-info};
.color-white{color:$color-white};
.color-black{color:$color-black};
.color-blue{color:$color-blue}


/*=================================================================
  font-size
  =================================================================*/
@for $i from 12 through 28{
  @if $i % 2 == 0 {
    .fontSize#{$i}{font-size: #{$i}px}
  }
}
.lineHeight1{
  line-height: 1;
}
/*=================================================================
  link
  =================================================================*/
a {
  color: nth($link-color,1);
  transition: all .3s;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: nth($link-color,2);
  //text-decoration: none;
}
a:visited {
  color: nth($link-color,3);
  text-decoration: none !important;
}
a:active {
  color: nth($link-color,3);
  text-decoration: none !important;
}

/*=================================================================
  list
  =================================================================*/
.list-square {
  margin: 0;
  padding: 0;
}

.list-square li {
  padding: 5px 0 5px 20px;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #ddd;
  /*background: url(../images/dot.jpg) 3px 16px no-repeat;*/
}


.ul-no-style{
  margin: 0;
  padding: 0;
  list-style: none;
}
.ul-no-style li{
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.ul-center {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom:1;
  *display: inline;
}
.ul-center li {
  float: left;
  padding: 0px;
}

.normal-list {
  border-top: 1px dotted #c3b592;
}

.normal-list li {
  border-bottom: 1px dotted #c3b592;
  padding: 6px 0 6px 12px;
}
/*=================================================================
  其他始化
  =================================================================*/
.cut-line{
  display: block;
  margin: 30px 0;
  width: 100%;
  height:0;
  border-bottom: 1px solid $border-color;
}

/**
  初始化布局
*/
html{
  height:100%;
}
body{
  min-height:100%;
  margin:0;
  padding:0;
  position:relative;
  font-size: $font-size;
  line-height: $line-height;
}

.wrapper{
  min-height:100%;
  min-width: 1280px;
  .header{

  }
  .page-main{
    padding-bottom:380px;
  }
  .footer{
    position:absolute;
    bottom:0;
    width:100%;
    min-width: 1280px;
    height:380px;
  }
  .content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px 20px;
  }
  .content-full{
    width: 100%;
    max-width: none;
  }
}


/**
  公用样式
 */

/*清除浮动*/
.clearfix{
  @include clearfix;
}

/*=================================================================
  图片
  =================================================================*/
.img-left {
  float: left;
  padding-right: 15px;
}
.img-right {
  float: right;
  padding-left: 15px;
}
.img-full {
  width: 100%;
}


/*=================================================================
  loading动画
  =================================================================*/
.loading{
  display: none;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  z-index: 1000;
  text-align: center;
}
.loading>img{
  display: block;
  position: relative;
  top: 50%;
  width: 31px;
  height: 31px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -16px;
}

/*加载文字后面的...动画*/
.loading-ellipsis:after {
  overflow: hidden;
  display: inline-block;
  font-size: 20px;
  vertical-align: bottom;
  animation: ellipsis-animate 2s infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
}
@keyframes ellipsis-animate {
  from {
    width: 2px;
  }
  to {
    width: 28px;
  }
}
/*鼠标悬浮显示提示文案*/
.hoverTips{
  position:relative;
  &:hover:after{
    content:attr(data-msg);
    display: inline-block;
    position:absolute;
    font-size: $font-size-small;
    line-height:30px;
    text-align:center;
    left:0;
    top:-41px;
    padding: 0 18px;
    border-radius: 4px;
    background: #1f2d3d;
    color: $color-white;
    transition: all .5s;
    z-index: 101;
    outline: none !important;
  }
  &:hover:before{
    content: '';
    display: inline-block;
    @include arrow(bottom,8px,#1f2d3d);
    position: absolute;
    top: -12px;
    left: 52px;
    z-index: 100;
    transition: all .5s;
    outline: none !important;
  }
}

/*引用；用来设定一段较长的文字段落样式*/
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: .5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}
blockquote p {
  display: inline;
}