<div class="my-message-notice">
	<span class="my-message-notice-icon">
		<span class="glyphicon glyphicon-comment"></span>
		<span class="badge">5</span>
	</span>
	<ul class="my-message-notice-dropdown">
		<li>
			<a href="" class="my-message-notice-iterm">
				<span class="my-message-notice-userhead"><img src="http://119.254.226.115/pmph_imesp/upload/sys_userext_avatar/1706/20170623191553876.png" alt="Profile Image"></span>
				<span>
                <span>成都大学</span>
                <span class="time">3分钟前</span>
	            </span>
					<span class="message">
	                规划教材-'全国高等学校五年制临床医学专业第九轮规划教材'-'中医学'移除张杰编委职位...
	            </span>
			</a>
		</li>
		<li>
			<a class="message-iterm">
	          <span class="message message-all">
	            查看全部 &gt;&gt;
	          </span>
			</a>
		</li>
	</ul>
</div>