@import "../../common/sass/index.scss";
.my-message-notice{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  .my-message-notice-icon{
    display: inline-block;
    width: 40px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    position: relative;
  }
  .my-message-notice-dropdown{
    position: absolute;
    top:0;
    right: 0;
    width: 294px;
    height: 0;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 8px #c8c8c8;
    transition: all .28s;
    opacity: 0;
    z-index: 100;
  }
  &:hover .my-message-notice-dropdown{
    height:auto;
    opacity: 1;
    top:100%;
  }
}
.my-message-notice-icon{
  .badge{
    position: absolute;
    top: -2px;
    right: -4px;
    line-height: 1;
    font-size: $font-size-small;
    background: #ff825a;
    color: #fff;
  }
}
.my-message-notice-dropdown{
  .my-message-notice-iterm{
    font-size: 12px;
    line-height: 1.42;
    color: #5A738E;
    display: block;
    padding: 4px 8px;
    background: #f7f7f7;
    margin: 8px 0;
  }
  .my-message-notice-iterm:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f1f1f1;
  }
  .my-message-notice-userhead>img {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    width: 11%;
  }
  .my-message-notice-username .time {
    font-size: 11px;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    right: 35px;
  }
.my-message-notice-iterm .my-message-notice-username{
  font-size: 12px;
  line-height: 1.42;
  color: #5a738e;
  display: block;
  padding: 4px 8px;
}
  .my-message-notice-iterm .message{
    display: block!important;
  }
  .my-message-notice-iterm .message-all{
    text-align: center;
    font-weight: 700;
    padding: 8px 8px;
  }
}
#message-all{
  display: none;
}

