.login-note{
  color: #c8c8c8;
  font-size: 12px;
}
.login-note>p{
  margin: 0;
}
/*必填项 * 图标*/
.login-note>p:after{
  content: ' *';
  color: red;
  font-size: 120%;
}

.login_page{
  position: absolute;
  width: 100%;
  height: 100%;
}
.login-page-inner{
  height: 380px;
  max-width: 340px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  padding: 20px;
  margin-top: -190px;
  z-index: 10;
}

.login-logo{
  text-align: center;
}
#canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
}
.loginBtn{
  width: 100%;
  background: #1ab194;
  color: white;
  outline:none;
}
.loginBtn:hover,.loginBtn:active,.loginBtn:focus{
  background: rgb(72, 193, 169);
  border-color: rgb(72, 193, 169);
  color: #fff;
  outline:none;
}
.height36{
  height: 36px;
}
