<div class="imagecrop-box text-center">
	<div class="imagecrop-box-inner">
		<div class="imagecrop-head">
			<p>调整位置和尺寸</p>
			<button type="button" class="close"><span>×</span></button>
		</div>
		<div class="imagecrop-min">
			<div class="inner" id="imagecropImage-box">
				<div>
					<img alt="" id="imagecropImage-img">
				</div>
			</div>
			<div class="noSupportNoice">
				<p>
					<span class="glyphicon glyphicon-ban-circle color-danger"></span>
					您当前浏览器版本过低，无法支持图片裁剪，只能直接上传。请使用最新版本
					<a href="http://www.google.cn/chrome/browser/desktop/" target= _blank>Chrome</a>
					或
					<a href="http://www.firefox.com.cn/" target= _blank>Firefox</a>
					体验图片裁剪功能
				</p>
			</div>
		</div>
		<div class="imagecrop-option paddingT30 text-center">
			<form action="" method="post" id="crop_form">
				<a href="javascript:" class="upload-image-btn  marginR10">
					请选择一张图片
					<input type="file" id="imagecropFile">
				</a>
				<input type="hidden" id="x" name="x" />
				<input type="hidden" id="y" name="y" />
				<input type="hidden" id="w" name="w" />
				<input type="hidden" id="h" name="h" />
				<button type="button" class="btn btn-primary" id="submitFileBtn">确认上传</button>
			</form>
		</div>
		<div class="loading">
			<img src="../../common/images/loading.gif" alt="">
		</div>
	</div>
</div>